* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: url("https://api.dujin.org/bing/1920.php") no-repeat center center;
  background-size: cover;
}

#myAudio {
  display: none;
}

.player {
  position: relative;
  min-width: fit-content;
}

.control {
  width: 100%;
  height: 5rem;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 20px 20px 5px rgba(132, 132, 132, 0.2);
}


.alarm {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  background: #000;
  background-size: cover;
}

.alarm.active {
  animation: rotates 3s infinite linear;
}

@keyframes rotates {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


.alarm::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.buts {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.prev,
.play,
.next {
  width: 4rem;
  height: auto;
  border-radius: 1rem;
  margin-left: 2rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  margin-left: 6rem;
}

.play {
  background-size: 1rem;
}

#play2 {
  display: none;
}

.info {
  opacity: 0;
  position: absolute;
  height: 10rem;
  top: -7rem;
  left: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 1rem;
}

.info.active {
  opacity: 1;
}

.song {
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.5rem;
  max-height: 2rem;
  line-height: 1rem;
}

.name {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.progress-bar {
  height: 0.2rem;
  width: 100%;
  background: #ddd;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.bar {
  width: 0%;
  height: 100%;
  background: red;
  border-radius: 0.1rem;
}

.progress-bar:hover {
  height: 0.5rem;

}

#time {
  padding-top: 0.2rem;
  float: right;
}

.lyric {
  width: 100vmin;
}

.glass {
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
}

.radios {
  color: #fff;
}

@media screen and (max-width:800) {
  .lyric {
    width: 100vmin;
    min-width: 100vmin;
  }

  .player {
    width: 20vmin;
  }
}